###Ignores all files except !###
# Ignore all files
*
# Ignore all subdirectories
*/
# Files to not ignore
!.gitignore
!main.py
!main.ipynb
!parseData.py
!parseData.ipynb
!run_model.py
!ensemble.py
!ensemble.ipynb
!run_model.ipynb
!CustomDataset.py
!CustomDataset.ipynb
# Directories to not ignore
!/First_Iteration/
!First_Iteration/*
!/Slurm_and_log_files/
!Slurm_and_log_files/*
!*.out