###Ignores all files except !###
*
*/
!.gitignore
!main.py
!main.ipynb
!parseData.py
!parseData.ipynb
!run_model.py
!run_model.ipynb
!/Output_Macenko/
!/Output_SCD/
!/Output_No_filter/
!/Output_Reinhard/